body {
  background-color: #292e55;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: monospace;
}

#booking-form {
  background-color: #e84141;
  background-image: linear-gradient(#e84141, #e89141);
  padding: 20px;
}

#booking-form input,
select {
  padding: 14px;
  border-radius: 20px;
  width: 30vw;
  border: 0.2px solid black;
}

.input-field {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 6px;
  color: #000;
  font-weight: 900;
  font-size: 20px;
}

#book {
  padding: 17px;
  width: 200px;
  background-color: #292e55;
  color: #fff;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 17px;
}

#book:active {
  transform: scale(0.9);
}

#agender input,
select {
  width: 10vw;
}
